@model ProductOrderUser.Models.Order

@{
    Layout = null;
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Order</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Products)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Products)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Customer)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Customer)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.NumberOfProductsPurchased)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumberOfProductsPurchased)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.PurchasedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PurchasedDate)
    </div>
    
</fieldset>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        @*<input type="submit" name=@Model.Id value="Delete" />*@ |
        <input type="submit" @*name=555*@ value="DeleteOrder" /> |
        @Html.ActionLink("Back to List", "Index", "Home")
    </p>
}

