@using ProductOrderUser.Models
@*@model IEnumerable<ProductOrderUser.Models.Product>*@

@{
    ViewBag.Title = "Home Page";

}



@Html.ActionLink("Create new product", "Create", "Product")

<h3> Products table </h3>
<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>DateAdded</th>
    </tr>

    @foreach (Product item in ViewBag.Products)
    {
        <tr>
            <td>
                @Html.DisplayFor(Item => item.Name)
            </td>
            <td>
                @Html.DisplayFor(Item => item.Price)
            </td>
            <td>
                @Html.DisplayFor(Item => item.Description)
            </td>
            <td>
                @Html.DisplayFor(Item => item.DateAdded)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.Id })*@
                <a href="/Product/Edit/@item.Id">Edit</a> |
                @*@Html.ActionLink("Details", "Details", new { id = item.Id }) |*@
                <a href="/Product/Details/@item.Id">Details</a> |
                @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                <a href="/Product/Delete/@item.Id">Delete</a>
            </td>
        </tr>
    }
</table>

<br></br>
@Html.ActionLink("Create new customer", "Create", "Customer")
<br></br>

<h3> Customers table </h3>
<table>
    <tr>
        <th>FirstName</th>
        <th>LastName</th>
        <th>RegistrationDate</th>
        <th>Email</th>
        <th>Orders</th>
    </tr>

    @foreach (Customer item in ViewBag.Customers)
    {
        <tr>
            <td>
                @Html.DisplayFor(Item => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(Item => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(Item => item.RegistrationDate)
            </td>
            <td>
                @Html.DisplayFor(Item => item.Email)
            </td>
            <td>
                @Html.DisplayFor(Item => item.Orders)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.Id })*@
                <a href="/Customer/Edit/@item.Id">Edit</a> |
                @*@Html.ActionLink("Details", "Details", new { id = item.Id }) |*@
                <a href="/Customer/Details/@item.Id">Details</a> |
                @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                <a href="/Customer/Delete/@item.Id">Delete</a>
            </td>
        </tr>
    }
</table>

<br></br>
@Html.ActionLink("Create new order", "Create", "Order")
<br></br>

<h3> Orders table </h3>
<table>
    <tr>
        <th>Products</th>
        <th>Customer</th>
        <th>NumberOfProductsPurchased</th>
        <th>PurchasedDate</th>
    </tr>

    @foreach (Order item in ViewBag.Orders)
    {
        <tr>
            <td>
                @Html.DisplayFor(Item => item.Products)
            </td>
            <td>
                @Html.DisplayFor(Item => item.Customer)
            </td>
            <td>
                @Html.DisplayFor(Item => item.NumberOfProductsPurchased)
            </td>
            <td>
                @Html.DisplayFor(Item => item.PurchasedDate)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.Id })*@
                <a href="/Order/Edit/@item.Id">Edit</a> |
                @*@Html.ActionLink("Details", "Details", new { id = item.Id }) |*@
                <a href="/Order/Details/@item.Id">Details</a> |
                @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                <a href="/Order/Delete/@item.Id">Delete</a>
            </td>
        </tr>
    }
</table>

<br></br>

@Html.ActionLink("Get sales report", "Open", "SalesReport")